body {
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("../images/tothenumberPROJECT_webdesign.png");
  background-size: cover;
}

.description {
  /* background-color: gray; */
  width: 500px;
  height: 400px;
  position: absolute;
  top: 220px;
  left: 100px;
  font-size: 16.5px !important;
  color: white;
  font-family: sans-serif;
}

h2 {
  font-size: 21px !important;
  color: white;
}

.authorinfo {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 700px;
  left: 100px;
  font-size: 15.5px;
  color: white;
  font-family: sans-serif;
  font-style: italic;
}

.menu {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 650px;
  left: 100px;
  font-family: sans-serif;
  font-size: 18px;
}

/* links */
/* visited link */
a:visited {
  color: #f27168 !important;
}

/* unvisited link */
a:link {
  color: #f27168;
}

/* mouse over link */
a:hover {
  color: #e1cd16 !important;
}

/* selected link */
a:active {
  color: #f27168;
}
/* end of links */


/* contact info css  */
#contactinfo {
  display: none;
}

.reach {
  font-size: 17px;
}

  a.one:link {color:white;}
  a.one:visited {color:white;}
  a.one:hover {color:#f27168;}
/* end of contact info css */


/* learn more css  */
#learnmore {
  display: none;
}

.tab-content {
  color: white;
  padding: 15px;
  width: 50%;
  height: 350px;
  width: 1200px;
  overflow: auto;
}
/* end of learn more css */

/* join css  */
#join {
  display: none;
}

.form {
  color: white;
  padding: 15px;
  width: 50%;
  height: 400px;
  width: 700px;
}
/* end of join css */

/* stars css */
#star-field {
  width: 100vw;
  height: 100vh;
  position: absolute;
  /* z-index: 30; */
  top: 0px;
  left: 0px;
}

.star-container {
  opacity: 0;
  transition: opacity 0.15s
}

.star-number {
  font-size: 30px;
  transform: translate(17px,120px);
  font-family: sans-serif;
  color: white;
}

.star-circle1 {
  width: 70px;
  height: 70px;
  right: 100px;
  border-radius: 50%;
  background-color: #e1cd16;
  filter: blur(20px);
}

/* .star-circle2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffd567;
  filter: blur(20px);
} */

.blue-reveal {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  position: absolute;
  background-color: #022648;
  filter: blur(20px);
}

/* end of stars css */
