body {
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("../images/tothenumberPROJECT_webdesign.png");
  background-size: cover;
}

.description {
  /*       background-color: gray; */
  width: 500px;
  height: 400px;
  position: absolute;
  top: 220px;
  left: 100px;
  font-size: 16.5px;
  color: white;
  font-family: sans-serif;
}

.authorinfo {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 650px;
  right: -100px;
  font-size: 15.5px;
  color: white;
  font-family: sans-serif;
}

.menu {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 650px;
  left: 100px;
  font-family: sans-serif;
  font-size: 18px;
}

/* visited link */
a:visited {
  color: #f27168;
}

/* unvisited link */
a:link {
  color: #f27168;
}

/* mouse over link */
a:hover {
  color: #e1cd16;
}

/* selected link */
a:active {
  color: #f27168;
}

#contactinfo {
  display: none;
}



#star-field {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
}

.star-number {
  font-size: 32px;
  transform: translate(17px,67px);
}

.star-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: yellow;
}
