<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <!-- this avoids having mobile browsers zoom way out -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- basic meta data -->
    <title>to the number</title>
    <meta name="author" content="Fernanda Carvalho">
    <meta name="description" content="Contact us!">

    <!-- social media stuff -->
    <meta property="og:title" content="SOCIAL CARD TITLE">
    <meta property="og:url" content="tothenumber.art">
    <meta property="og:image" content="URL/TO/IMAGE">
    <meta property="og:description" content="SOCIAL CARD DESCRIPTION">
    <meta property="og:site_name" content="to the number">

    <!-- add a favicon -->
    <!-- <link rel="icon" type="image/png" href="PATH/TO/FAVICON"> -->

    <link rel="stylesheet" href="/css/contact.css">
  </head>

  <body>

    <section id="star-field">
      <!-- <!.. stars will be dynamically added into this element -->
    </section>

  <a href="../index.html"><img src="/images/logo.png" alt="to the number logo" style="width:450px;height:250px;position:absolute;left:90px;top:20px;">

<!-- //links on main page -->
    <div class="menu">
      <a href="/templates/learn.html">Learn more</a>
      <a href="/templates/contact.html">Contact</a>
    </div>

    <div class="authorinfo">
      a project by <a href="https://www.fernandacarvalhoart.com/" target="_blank">Fernanda Carvalho</a>
    </div>

    <div class="reachout">
      <div class="box"></div>
      <div class="text">
        <h1> Reach out!</h1>
        <a class="one" href="tothenumbercontact@gmail.com">tothenumbercontact@gmail.com</a>
      </div>
    </div>

<!-- //..search bar  -->
<!-- <input type="search" list="number">
    <datalist id="number">
    	<option value="445">
      <option value="6788">
    </datalist> -->



    <script src="js/load-data.js"></script>
    <script src="js/html-from-template.js"></script>
    <script src="js/main.js"></script>
  </body>

</html>
